-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: localhost    Database: rg_infra_crm
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `apartments`
--

DROP TABLE IF EXISTS `apartments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `apartments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `property_id` int DEFAULT NULL,
  `name` varchar(200) NOT NULL,
  `total_flats` int DEFAULT NULL,
  `numbering_pattern` varchar(50) DEFAULT NULL,
  `parking_slots` int DEFAULT NULL,
  `electricity_details` varchar(200) DEFAULT NULL,
  `transformer_details` varchar(200) DEFAULT NULL,
  `water_connection_details` text,
  `floor_north` varchar(500) DEFAULT NULL,
  `floor_south` varchar(500) DEFAULT NULL,
  `floor_east` varchar(500) DEFAULT NULL,
  `floor_west` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `property_id` (`property_id`,`name`),
  CONSTRAINT `apartments_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `properties` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `apartments`
--

LOCK TABLES `apartments` WRITE;
/*!40000 ALTER TABLE `apartments` DISABLE KEYS */;
INSERT INTO `apartments` VALUES (1,1,'jkk',10,NULL,10,'iii','jijj','ijkjj','kkk','kkk','kkk','kkk','2026-05-25 12:16:47','2026-05-25 12:16:47'),(2,1,'ronit apartmennt',10,NULL,50,'seju','dhiraj','stpi','10a0','a','s1de1','cdvr','2026-05-25 12:19:58','2026-05-25 12:19:58'),(4,1,'block q',0,NULL,50,'12','12','12','21','12','12','12','2026-05-25 15:59:11','2026-05-25 15:59:11'),(5,1,'BLOCK A',0,NULL,50,'12','121','212','12','1','2','12','2026-05-25 16:10:23','2026-05-25 16:10:23'),(6,1,'BLOCK QR',0,NULL,60,'12','45','4','121','2','54','54','2026-05-25 16:42:32','2026-05-25 16:42:32');
/*!40000 ALTER TABLE `apartments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `entity_type` varchar(100) NOT NULL,
  `entity_id` varchar(100) DEFAULT NULL,
  `old_values` json DEFAULT NULL,
  `new_values` json DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_audit_entity` (`entity_type`,`entity_id`),
  KEY `idx_audit_user_date` (`user_id`,`created_at`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `backup_logs`
--

DROP TABLE IF EXISTS `backup_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `backup_logs` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `file_name` varchar(500) NOT NULL,
  `file_url` varchar(500) DEFAULT NULL,
  `status` enum('success','failed','running') DEFAULT 'running',
  `error_message` text,
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `backup_logs_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `backup_logs`
--

LOCK TABLES `backup_logs` WRITE;
/*!40000 ALTER TABLE `backup_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `backup_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `booking_id` varchar(50) NOT NULL,
  `client_id` int NOT NULL,
  `apartment_id` int NOT NULL,
  `tower_id` int DEFAULT NULL,
  `flat_id` int NOT NULL,
  `booking_date` date NOT NULL,
  `flat_value` decimal(15,2) NOT NULL DEFAULT '0.00',
  `booking_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `booking_percentage` decimal(5,2) NOT NULL DEFAULT '0.00',
  `status` enum('active','cancelled','transferred') DEFAULT 'active',
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `booking_id` (`booking_id`),
  UNIQUE KEY `flat_id` (`flat_id`,`status`),
  KEY `tower_id` (`tower_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_bookings_client` (`client_id`),
  KEY `idx_bookings_apartment` (`apartment_id`),
  KEY `idx_bookings_flat` (`flat_id`),
  CONSTRAINT `bookings_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bookings_ibfk_2` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `bookings_ibfk_3` FOREIGN KEY (`tower_id`) REFERENCES `towers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `bookings_ibfk_4` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `bookings_ibfk_5` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
INSERT INTO `bookings` VALUES (1,'RGB-2026-01001',1,4,NULL,449,'2026-05-25',500000.00,50000.00,10.00,'active',1,'2026-05-25 17:37:00','2026-05-25 17:37:00'),(2,'RGB-2026-01002',2,4,NULL,452,'2026-05-25',4000000.00,400000.00,10.00,'active',1,'2026-05-25 17:46:21','2026-05-25 17:46:21');
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_payments`
--

DROP TABLE IF EXISTS `client_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `booking_id` int DEFAULT NULL,
  `flat_id` int DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL,
  `payment_percentage` decimal(5,2) NOT NULL DEFAULT '0.00',
  `gst_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `payment_date` date DEFAULT NULL,
  `payment_mode` varchar(50) DEFAULT NULL,
  `reference_no` varchar(100) DEFAULT NULL,
  `receipt_no` varchar(100) DEFAULT NULL,
  `receipt_file_url` varchar(500) DEFAULT NULL,
  `email_sent` tinyint(1) DEFAULT '0',
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `booking_id` (`booking_id`),
  KEY `idx_client_payments_client_date` (`client_id`,`payment_date`),
  KEY `idx_client_payments_flat` (`flat_id`),
  CONSTRAINT `client_payments_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_payments_ibfk_2` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `client_payments_ibfk_3` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_payments`
--

LOCK TABLES `client_payments` WRITE;
/*!40000 ALTER TABLE `client_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `id` int NOT NULL AUTO_INCREMENT,
  `unique_client_id` varchar(50) NOT NULL,
  `name` varchar(200) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `address` text,
  `pan_aadhaar` varchar(50) DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `flat_id` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_client_id` (`unique_client_id`),
  KEY `idx_clients_flat` (`flat_id`),
  KEY `idx_clients_phone` (`phone`),
  KEY `idx_clients_email` (`email`),
  CONSTRAINT `clients_ibfk_1` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES (1,'RGI-1001','TESTING','w','w','w','w','2026-05-25',449,'2026-05-25 17:37:00','2026-05-25 17:37:00'),(2,'RGI-1002','TEST 2','121','21','21','21',NULL,452,'2026-05-25 17:46:21','2026-05-25 17:46:21');
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communication_history`
--

DROP TABLE IF EXISTS `communication_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communication_history` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `flat_id` int DEFAULT NULL,
  `type` enum('demand_letter','email','whatsapp','payment_receipt','invoice') NOT NULL,
  `channel` enum('email','whatsapp') NOT NULL DEFAULT 'email',
  `subject` varchar(500) DEFAULT NULL,
  `message` text,
  `recipient_email` varchar(150) DEFAULT NULL,
  `recipient_phone` varchar(20) DEFAULT NULL,
  `demand_letter_id` int DEFAULT NULL,
  `invoice_id` int DEFAULT NULL,
  `file_url` varchar(500) DEFAULT NULL,
  `status` enum('sent','failed','initiated','pending','delivered','read') DEFAULT 'sent',
  `error_message` text,
  `provider_message_id` varchar(200) DEFAULT NULL,
  `sent_on` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `client_id` (`client_id`),
  KEY `flat_id` (`flat_id`),
  KEY `demand_letter_id` (`demand_letter_id`),
  KEY `invoice_id` (`invoice_id`),
  CONSTRAINT `communication_history_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `communication_history_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `communication_history_ibfk_3` FOREIGN KEY (`demand_letter_id`) REFERENCES `demand_letters` (`id`) ON DELETE SET NULL,
  CONSTRAINT `communication_history_ibfk_4` FOREIGN KEY (`invoice_id`) REFERENCES `invoices` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communication_history`
--

LOCK TABLES `communication_history` WRITE;
/*!40000 ALTER TABLE `communication_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `communication_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `communication_logs`
--

DROP TABLE IF EXISTS `communication_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `communication_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `booking_id` int DEFAULT NULL,
  `demand_letter_id` int DEFAULT NULL,
  `channel` enum('email','whatsapp','sms','system') NOT NULL,
  `message_type` enum('demand_letter','payment_due','payment_receipt','reminder','general','invoice') NOT NULL,
  `subject` varchar(500) DEFAULT NULL,
  `message` text,
  `recipient` varchar(200) DEFAULT NULL,
  `attachment_url` varchar(500) DEFAULT NULL,
  `delivery_status` enum('queued','sent','delivered','read','failed','initiated') DEFAULT 'queued',
  `provider` varchar(100) DEFAULT NULL,
  `provider_message_id` varchar(200) DEFAULT NULL,
  `sent_by` int DEFAULT NULL,
  `sent_at` datetime DEFAULT NULL,
  `error_message` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `booking_id` (`booking_id`),
  KEY `demand_letter_id` (`demand_letter_id`),
  KEY `sent_by` (`sent_by`),
  KEY `idx_comm_logs_client` (`client_id`,`created_at`),
  KEY `idx_comm_logs_channel_status` (`channel`,`delivery_status`),
  CONSTRAINT `communication_logs_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `communication_logs_ibfk_2` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `communication_logs_ibfk_3` FOREIGN KEY (`demand_letter_id`) REFERENCES `demand_letters` (`id`) ON DELETE SET NULL,
  CONSTRAINT `communication_logs_ibfk_4` FOREIGN KEY (`sent_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `communication_logs`
--

LOCK TABLES `communication_logs` WRITE;
/*!40000 ALTER TABLE `communication_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `communication_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact_submissions`
--

DROP TABLE IF EXISTS `contact_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact_submissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `project_type` varchar(100) DEFAULT NULL,
  `message` text,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_contact_read_created` (`is_read`,`created_at`),
  KEY `idx_contact_email` (`email`),
  KEY `idx_contact_phone` (`phone`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_submissions`
--

LOCK TABLES `contact_submissions` WRITE;
/*!40000 ALTER TABLE `contact_submissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `demand_letters`
--

DROP TABLE IF EXISTS `demand_letters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `demand_letters` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `booking_id` int DEFAULT NULL,
  `file_name` varchar(500) NOT NULL,
  `file_url` varchar(500) NOT NULL,
  `generated_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `sent_date` datetime DEFAULT NULL,
  `sent_by` int DEFAULT NULL,
  `delivery_status` enum('draft','sent','failed','partial') DEFAULT 'draft',
  `payment_stage` varchar(200) DEFAULT NULL,
  `total_amount` decimal(15,2) DEFAULT NULL,
  `paid_amount` decimal(15,2) DEFAULT NULL,
  `due_amount` decimal(15,2) DEFAULT NULL,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT '0.00',
  `gst_amount` decimal(15,2) DEFAULT NULL,
  `grand_total` decimal(15,2) DEFAULT NULL,
  `email_sent` tinyint(1) DEFAULT '0',
  `whatsapp_sent` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `booking_id` (`booking_id`),
  KEY `sent_by` (`sent_by`),
  KEY `idx_demand_client_date` (`client_id`,`generated_date`),
  CONSTRAINT `demand_letters_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `demand_letters_ibfk_2` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `demand_letters_ibfk_3` FOREIGN KEY (`sent_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `demand_letters`
--

LOCK TABLES `demand_letters` WRITE;
/*!40000 ALTER TABLE `demand_letters` DISABLE KEYS */;
INSERT INTO `demand_letters` VALUES (1,1,1,'RG_INFRA_Demand_Letter_TESTING_25-05-2026.pdf','/api/demand-letters/download/RG_INFRA_Demand_Letter_TESTING_25-05-2026.pdf','2026-05-25 23:08:14','2026-05-25 23:08:14',1,'partial',NULL,500000.00,0.00,50000.00,5.00,2500.00,52500.00,1,1,'2026-05-25 17:38:14');
/*!40000 ALTER TABLE `demand_letters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dues`
--

DROP TABLE IF EXISTS `dues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dues` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `booking_id` int DEFAULT NULL,
  `flat_id` int DEFAULT NULL,
  `total_flat_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_paid` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_due` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_stage_name` varchar(200) DEFAULT NULL,
  `current_stage_due` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_due` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_due_date` date DEFAULT NULL,
  `next_stage_name` varchar(200) DEFAULT NULL,
  `next_stage_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `next_installment_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `next_due_date` date DEFAULT NULL,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT '0.00',
  `gst_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `total_payable` decimal(15,2) NOT NULL DEFAULT '0.00',
  `combined_due` decimal(15,2) NOT NULL DEFAULT '0.00',
  `last_calculated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `client_id` (`client_id`),
  KEY `booking_id` (`booking_id`),
  KEY `flat_id` (`flat_id`),
  CONSTRAINT `dues_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dues_ibfk_2` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dues_ibfk_3` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dues`
--

LOCK TABLES `dues` WRITE;
/*!40000 ALTER TABLE `dues` DISABLE KEYS */;
INSERT INTO `dues` VALUES (1,1,1,449,500000.00,0.00,500000.00,'Booking',50000.00,50000.00,'2026-05-24',NULL,0.00,0.00,NULL,5.00,2500.00,52500.00,50000.00,'2026-05-25 17:38:14','2026-05-25 17:38:14');
/*!40000 ALTER TABLE `dues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `electricity_sources`
--

DROP TABLE IF EXISTS `electricity_sources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `electricity_sources` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apartment_id` int NOT NULL,
  `provider` varchar(200) NOT NULL,
  `meter_prefix` varchar(100) DEFAULT NULL,
  `notes` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_electricity_apartment` (`apartment_id`),
  CONSTRAINT `electricity_sources_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `electricity_sources`
--

LOCK TABLES `electricity_sources` WRITE;
/*!40000 ALTER TABLE `electricity_sources` DISABLE KEYS */;
/*!40000 ALTER TABLE `electricity_sources` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flats`
--

DROP TABLE IF EXISTS `flats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apartment_id` int NOT NULL,
  `tower_id` int DEFAULT NULL,
  `flat_number` varchar(50) NOT NULL,
  `flat_type` varchar(50) DEFAULT NULL,
  `floor` varchar(50) DEFAULT NULL,
  `block` varchar(50) DEFAULT NULL,
  `sbu_area` decimal(10,2) DEFAULT NULL,
  `carpet_area` decimal(10,2) DEFAULT NULL,
  `balcony_area` decimal(10,2) DEFAULT NULL,
  `terrace_area` decimal(10,2) DEFAULT NULL,
  `built_up_area` decimal(10,2) DEFAULT NULL,
  `undivided_share` decimal(10,2) DEFAULT NULL,
  `total_amount` decimal(15,2) DEFAULT NULL,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT '0.00',
  `is_available` tinyint(1) DEFAULT '1',
  `status` enum('available','reserved','booked') DEFAULT 'available',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apartment_id` (`apartment_id`,`flat_number`),
  KEY `tower_id` (`tower_id`),
  KEY `idx_flats_status` (`status`),
  KEY `idx_flats_apartment_status` (`apartment_id`,`status`),
  CONSTRAINT `flats_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `flats_ibfk_2` FOREIGN KEY (`tower_id`) REFERENCES `towers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=491 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flats`
--

LOCK TABLES `flats` WRITE;
/*!40000 ALTER TABLE `flats` DISABLE KEYS */;
/*!40000 ALTER TABLE `flats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `infrastructure_details`
--

DROP TABLE IF EXISTS `infrastructure_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `infrastructure_details` (
  `id` int NOT NULL AUTO_INCREMENT,
  `flat_id` int NOT NULL,
  `parking_allotment` tinyint(1) DEFAULT '0',
  `parking_slot_no` varchar(100) DEFAULT NULL,
  `extra_parking_allotment` tinyint(1) DEFAULT '0',
  `extra_vehicle_type` varchar(200) DEFAULT NULL,
  `extra_parking_count` int DEFAULT '1',
  `extra_parking_slot_no` varchar(500) DEFAULT NULL,
  `extra_parking_charge` decimal(15,2) DEFAULT '0.00',
  `transformer_apartment` varchar(200) DEFAULT NULL,
  `transformer_flat` varchar(200) DEFAULT NULL,
  `corpus_fund` decimal(15,2) DEFAULT NULL,
  `electricity_board_source` varchar(200) DEFAULT NULL,
  `water_connection_details` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `flat_id` (`flat_id`),
  CONSTRAINT `infrastructure_details_ibfk_1` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `infrastructure_details`
--

LOCK TABLES `infrastructure_details` WRITE;
/*!40000 ALTER TABLE `infrastructure_details` DISABLE KEYS */;
INSERT INTO `infrastructure_details` VALUES (1,449,1,'P301',1,'car, bike',2,'EP301, EP302',0.00,'12',NULL,0.00,'12','12','2026-05-25 17:37:00','2026-05-25 17:37:00'),(2,452,1,'P304',0,NULL,NULL,NULL,0.00,'12',NULL,0.00,'12','12','2026-05-25 17:46:21','2026-05-25 17:46:21');
/*!40000 ALTER TABLE `infrastructure_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `invoices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `payment_id` int NOT NULL,
  `client_id` int NOT NULL,
  `booking_id` int DEFAULT NULL,
  `flat_id` int DEFAULT NULL,
  `invoice_no` varchar(100) NOT NULL,
  `file_name` varchar(500) NOT NULL,
  `file_url` varchar(500) NOT NULL,
  `amount` decimal(15,2) NOT NULL,
  `gst_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `grand_total` decimal(15,2) NOT NULL,
  `payment_date` date DEFAULT NULL,
  `payment_mode` varchar(100) DEFAULT NULL,
  `reference_no` varchar(150) DEFAULT NULL,
  `generated_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payment_id` (`payment_id`,`invoice_no`),
  KEY `booking_id` (`booking_id`),
  KEY `flat_id` (`flat_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_invoices_client_date` (`client_id`,`generated_date`),
  CONSTRAINT `invoices_ibfk_1` FOREIGN KEY (`payment_id`) REFERENCES `client_payments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoices_ibfk_2` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `invoices_ibfk_3` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `invoices_ibfk_4` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `invoices_ibfk_5` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `message` text,
  `type` enum('info','success','warning','error') DEFAULT 'info',
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_notifications_user_read` (`user_id`,`is_read`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_allotments`
--

DROP TABLE IF EXISTS `parking_allotments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking_allotments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apartment_id` int NOT NULL,
  `flat_id` int DEFAULT NULL,
  `slot_number` varchar(100) NOT NULL,
  `status` enum('available','reserved','allotted') DEFAULT 'available',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apartment_id` (`apartment_id`,`slot_number`),
  KEY `flat_id` (`flat_id`),
  KEY `idx_parking_status` (`status`),
  CONSTRAINT `parking_allotments_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `parking_allotments_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_allotments`
--

LOCK TABLES `parking_allotments` WRITE;
/*!40000 ALTER TABLE `parking_allotments` DISABLE KEYS */;
/*!40000 ALTER TABLE `parking_allotments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_installments`
--

DROP TABLE IF EXISTS `payment_installments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_installments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `payment_plan_id` int NOT NULL,
  `stage_name` varchar(200) NOT NULL,
  `percentage` decimal(5,2) NOT NULL,
  `stage_order` int NOT NULL DEFAULT '0',
  `due_days_offset` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payment_plan_id` (`payment_plan_id`,`stage_order`),
  KEY `idx_installments_plan_order` (`payment_plan_id`,`stage_order`),
  CONSTRAINT `payment_installments_ibfk_1` FOREIGN KEY (`payment_plan_id`) REFERENCES `payment_plans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_installments`
--

LOCK TABLES `payment_installments` WRITE;
/*!40000 ALTER TABLE `payment_installments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_installments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_plans`
--

DROP TABLE IF EXISTS `payment_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_plans` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apartment_id` int NOT NULL,
  `name` varchar(200) NOT NULL,
  `description` text,
  `gst_percent` decimal(5,2) NOT NULL DEFAULT '0.00',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apartment_id` (`apartment_id`,`name`),
  KEY `idx_payment_plans_apartment_active` (`apartment_id`,`is_active`),
  CONSTRAINT `payment_plans_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_plans`
--

LOCK TABLES `payment_plans` WRITE;
/*!40000 ALTER TABLE `payment_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_schedules`
--

DROP TABLE IF EXISTS `payment_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_schedules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `booking_id` int DEFAULT NULL,
  `flat_id` int DEFAULT NULL,
  `payment_plan_id` int DEFAULT NULL,
  `stage_id` int DEFAULT NULL,
  `stage_name` varchar(200) NOT NULL,
  `percentage` decimal(5,2) NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `gst_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `paid_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `due_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `due_date` date DEFAULT NULL,
  `paid_date` date DEFAULT NULL,
  `status` enum('pending','partial','paid') DEFAULT 'pending',
  `stage_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `booking_id` (`booking_id`),
  KEY `flat_id` (`flat_id`),
  KEY `payment_plan_id` (`payment_plan_id`),
  KEY `stage_id` (`stage_id`),
  KEY `idx_schedules_client_status` (`client_id`,`status`),
  KEY `idx_schedules_due_date` (`due_date`),
  CONSTRAINT `payment_schedules_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_schedules_ibfk_2` FOREIGN KEY (`booking_id`) REFERENCES `bookings` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_schedules_ibfk_3` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_schedules_ibfk_4` FOREIGN KEY (`payment_plan_id`) REFERENCES `payment_plans` (`id`) ON DELETE SET NULL,
  CONSTRAINT `payment_schedules_ibfk_5` FOREIGN KEY (`stage_id`) REFERENCES `payment_stages` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_schedules`
--

LOCK TABLES `payment_schedules` WRITE;
/*!40000 ALTER TABLE `payment_schedules` DISABLE KEYS */;
INSERT INTO `payment_schedules` VALUES (1,1,1,449,NULL,NULL,'Booking',10.00,50000.00,0.00,0.00,50000.00,'2026-05-25',NULL,'pending',1,'2026-05-25 17:38:14','2026-05-25 17:38:14');
/*!40000 ALTER TABLE `payment_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_stages`
--

DROP TABLE IF EXISTS `payment_stages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_stages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `stage_name` varchar(200) NOT NULL,
  `percentage` decimal(5,2) NOT NULL,
  `stage_order` int NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `apartment_id` int DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_payment_stages_apartment` (`apartment_id`),
  CONSTRAINT `payment_stages_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_stages`
--

LOCK TABLES `payment_stages` WRITE;
/*!40000 ALTER TABLE `payment_stages` DISABLE KEYS */;
INSERT INTO `payment_stages` VALUES (1,'Booking Amount',10.00,1,'2026-05-25 12:14:53',NULL,'2026-05-25 12:14:53'),(2,'Agreement Signing',20.00,2,'2026-05-25 12:14:53',NULL,'2026-05-25 12:14:53'),(3,'Plinth Level',15.00,3,'2026-05-25 12:14:53',NULL,'2026-05-25 12:14:53'),(4,'First Slab',15.00,4,'2026-05-25 12:14:53',NULL,'2026-05-25 12:14:53'),(5,'Brickwork & Plaster',20.00,5,'2026-05-25 12:14:53',NULL,'2026-05-25 12:14:53'),(6,'Possession',20.00,6,'2026-05-25 12:14:53',NULL,'2026-05-25 12:14:53');
/*!40000 ALTER TABLE `payment_stages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `properties`
--

DROP TABLE IF EXISTS `properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `properties` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `address` text,
  `land_north` varchar(500) DEFAULT NULL,
  `land_south` varchar(500) DEFAULT NULL,
  `land_east` varchar(500) DEFAULT NULL,
  `land_west` varchar(500) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `properties`
--

LOCK TABLES `properties` WRITE;
/*!40000 ALTER TABLE `properties` DISABLE KEYS */;
INSERT INTO `properties` VALUES (1,'asdfghjkl;\'','zxcvbn','asgh','sdfghj','rtyu','vbnm','2026-05-25 12:16:06','2026-05-25 12:16:06');
/*!40000 ALTER TABLE `properties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reminder_logs`
--

DROP TABLE IF EXISTS `reminder_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reminder_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `flat_id` int DEFAULT NULL,
  `schedule_id` int DEFAULT NULL,
  `stage_name` varchar(200) DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `combined_due` decimal(15,2) NOT NULL DEFAULT '0.00',
  `current_stage_due` decimal(15,2) NOT NULL DEFAULT '0.00',
  `next_stage_amount` decimal(15,2) NOT NULL DEFAULT '0.00',
  `email_sent` tinyint(1) DEFAULT '0',
  `email_status` enum('sent','failed','skipped') DEFAULT 'skipped',
  `whatsapp_initiated` tinyint(1) DEFAULT '0',
  `demand_letter_id` int DEFAULT NULL,
  `trigger_type` enum('cron','manual') DEFAULT 'cron',
  `next_due_date` date DEFAULT NULL,
  `error_message` text,
  `sent_on` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `client_id` (`client_id`),
  KEY `flat_id` (`flat_id`),
  KEY `schedule_id` (`schedule_id`),
  KEY `demand_letter_id` (`demand_letter_id`),
  CONSTRAINT `reminder_logs_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `reminder_logs_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `reminder_logs_ibfk_3` FOREIGN KEY (`schedule_id`) REFERENCES `payment_schedules` (`id`) ON DELETE SET NULL,
  CONSTRAINT `reminder_logs_ibfk_4` FOREIGN KEY (`demand_letter_id`) REFERENCES `demand_letters` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reminder_logs`
--

LOCK TABLES `reminder_logs` WRITE;
/*!40000 ALTER TABLE `reminder_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `reminder_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `towers`
--

DROP TABLE IF EXISTS `towers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `towers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apartment_id` int NOT NULL,
  `name` varchar(100) NOT NULL,
  `floor_count` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apartment_id` (`apartment_id`,`name`),
  KEY `idx_towers_apartment` (`apartment_id`),
  CONSTRAINT `towers_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `towers`
--

LOCK TABLES `towers` WRITE;
/*!40000 ALTER TABLE `towers` DISABLE KEYS */;
/*!40000 ALTER TABLE `towers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transformers`
--

DROP TABLE IF EXISTS `transformers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transformers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `apartment_id` int NOT NULL,
  `flat_id` int DEFAULT NULL,
  `name` varchar(200) NOT NULL,
  `capacity` varchar(100) DEFAULT NULL,
  `location` varchar(200) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `flat_id` (`flat_id`),
  KEY `idx_transformers_apartment` (`apartment_id`),
  CONSTRAINT `transformers_ibfk_1` FOREIGN KEY (`apartment_id`) REFERENCES `apartments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transformers_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transformers`
--

LOCK TABLES `transformers` WRITE;
/*!40000 ALTER TABLE `transformers` DISABLE KEYS */;
/*!40000 ALTER TABLE `transformers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','staff','accountant') DEFAULT 'admin',
  `is_active` tinyint(1) DEFAULT '1',
  `last_login_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `idx_users_role` (`role`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','Admin','admin@rginfra.com','$2a$10$OwoZPeH7gpR0IoDSufyZZuQGlTSd3th3JVw9dBsw9JvW4mCiYd/ju','admin',1,NULL,'2026-05-25 12:14:53','2026-05-25 12:14:53');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_projection_milestones`
--

DROP TABLE IF EXISTS `work_projection_milestones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_projection_milestones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `percentage` decimal(5,2) NOT NULL,
  `milestone_order` int NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_projection_milestones`
--

LOCK TABLES `work_projection_milestones` WRITE;
/*!40000 ALTER TABLE `work_projection_milestones` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_projection_milestones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_projections`
--

DROP TABLE IF EXISTS `work_projections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_projections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `flat_id` int DEFAULT NULL,
  `milestone_name` varchar(200) NOT NULL,
  `milestone_percentage` decimal(5,2) NOT NULL,
  `milestone_order` int NOT NULL DEFAULT '0',
  `completion_date` date DEFAULT NULL,
  `notes` text,
  `proof_image` varchar(500) DEFAULT NULL,
  `status` enum('pending','completed') DEFAULT 'pending',
  `created_by` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `client_id` (`client_id`,`milestone_name`),
  KEY `flat_id` (`flat_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_wp_client_status` (`client_id`,`status`),
  KEY `idx_wp_milestone` (`milestone_name`),
  CONSTRAINT `work_projections_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `work_projections_ibfk_2` FOREIGN KEY (`flat_id`) REFERENCES `flats` (`id`) ON DELETE SET NULL,
  CONSTRAINT `work_projections_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_projections`
--

LOCK TABLES `work_projections` WRITE;
/*!40000 ALTER TABLE `work_projections` DISABLE KEYS */;
INSERT INTO `work_projections` VALUES (1,1,449,'Booking',10.00,1,'2026-05-25',NULL,NULL,'completed',1,'2026-05-25 17:38:14','2026-05-25 17:38:14');
/*!40000 ALTER TABLE `work_projections` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-25 23:29:32














